.projectCards {
    display: grid;
    gap: 2rem;
    margin: 5rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    background: var(--light-color);
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s all ease;
    display: flex;
    flex-direction: column;
    -webkit-filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.1)) grayscale(0%);
    filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.1)) grayscale(0%);
}

.darkCard .card {
    background: var(--dark-color);
    -webkit-filter: drop-shadow(3px 3px 10px rgba(49, 48, 48, 0.5))
        grayscale(0%);
    filter: drop-shadow(3px 3px 10px rgba(54, 53, 53, 0.2)) grayscale(0%);
}

.card:hover {
    -webkit-filter: none;
    filter: none;
}

.imageObj {
    width: 100%;
}
.cardBody {
    padding: 0.8rem 1.5rem;
    flex: 1;
}

.textLg {
    font-size: 1.25rem;
    color: var(--dark-color);
    font-weight: 500;
}

.darkCard .textLg,
.darkCard .textMd,
.darkCard .textSm {
    color: var(--light-color);
}

.textSm {
    font-size: 0.9rem;
    color: #666e81;
}

.textMd {
    font-size: 1rem;
    font-weight: 280;
    margin-top: 1rem;
    line-height: 1.8rem;
    color: var(--dark-color);
    /* max-width: 800px; */
}

.textMd span {
    font-weight: 500;
    cursor: pointer;
}

.icons {
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
}
.icon {
    height: 48px;
    width: 48px;
    background: rgb(219, 219, 219);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666e81;
    margin: 0 0.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.darkCard .icon {
    background: #272e3d;
}

.footer {
    padding: 1rem 1.2rem;
    text-transform: uppercase;
    text-align: right;
}

@media only screen and (max-width: 430px) {
    .projectCards {
        gap: 1rem;
        margin: 5rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
